{% extends "admin_layout.html" %}
<!--title part-->
{% block title %}Blood Bank List{% endblock %}
<!--head part-->
{% block head %} {{ super() }}
<style>
  table {
    font-family: "Roboto" sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  table tr:nth-child(even) {
    background-color: #eeeeee;
  }
  table th {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    background-color: #ef5350;
    color: whitesmoke;
    letter-spacing: 0.5px;
    user-select: none;
    border-right: 0.5px solid #ffcdd2;
  }
  table td {
    border-right: 0.5px solid #ffcdd2;
    height: 70px;
  }
  table td,
  table th {
    border-bottom: 0.5px solid #ffcdd2;
  }
  table tr:hover {
    background-color: #ffebee;
    cursor: pointer;
  }
</style>
{% endblock %}
<!--content part-->
{% block content %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %} {% for cat,msg
in messages %} {% if cat == "error" %}
<script class="text-uppercase">
  swal({
    title: "Error!",
    text: "{{msg|upper}}",
    icon: "error",
    button: "OK"
  });
</script>
{% else %}
<script class="text-uppercase">
  swal({
    title: "Success!",
    text: "{{msg|upper}}",
    icon: "success",
    button: "OK",
    timer: 1500
  });
</script>
{% endif %} {% endfor %} {% endif %} {% endwith %} {% if data %}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Blood Bank No</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        {% if 'admin' in session %}
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        {% endif %}
      </tr>
      {% for i in data %}
      <tr>
        <td>{{i.blood_bank_no}}</td>
        <td>{{i.name}}</td>
        <td>{{i.phone}}</td>
        <td>{{i.address}}</td>
        {% if 'admin' in session %}
        <td>
          <a href="/blood_edit/{{i.blood_bank_no}}"
            ><button class="btn btn-success"><i class="fa fa-edit"></i></button
          ></a>
        </td>
        <td>
          <a href="/blood_del/{{i.blood_bank_no}}"
            ><button class="btn btn-danger" type="submit" name="del">
              <i class="fa fa-trash"></i></button
          ></a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </thead>
    <tbody></tbody>
  </table>
</div>

{% endif %} {% endblock %}
