{% extends "Recep_layout.html" %}
<!--title part-->
{% block title %}Order Details{% endblock %}
<!--head part-->
{% block head %} {{ super() }}
<style>
  table {
    font-family: "Roboto" sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  table tr:nth-child(even) {
    background-color: #eeeeee;
  }
  table th {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    background-color: #ef5350;
    color: whitesmoke;
    letter-spacing: 0.5px;
    user-select: none;
    border-right: 0.5px solid #ffcdd2;
  }
  table td {
    border-right: 0.5px solid #ffcdd2;
    height: 70px;
  }
  table td,
  table th {
    border-bottom: 0.5px solid #ffcdd2;
  }
  table tr:hover {
    background-color: #ffebee;
    cursor: pointer;
  }
</style>
{% endblock %}
<!--content part-->
{% block content %}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Blood Bank No</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Available blood stocks</th>
      </tr>
{% for i in data %}
      <tr>
        <td>{{i.blood_bank_no}}</td>
        <td>{{i.name}}</td>
        <td>{{i.phone}}</td>
        <td>{{i.address}}</td>
        <td><a href="/check_orders/{{i.blood_bank_no}}"><button class="btn btn-success">Check Availability</button></a> </td>
      </tr>
    {% endfor %}
    </thead>
    <tbody></tbody>
  </table>
</div>
{% endblock %}
